@font-face {
  font-family: 'business-icon';
  src:  url('../fonts/business-icon.eot?gm0hqw');
  src:  url('../fonts/business-icon.eot?gm0hqw#iefix') format('embedded-opentype'),
    url('../fonts/business-icon.ttf?gm0hqw') format('truetype'),
    url('../fonts/business-icon.woff?gm0hqw') format('woff'),
    url('../fonts/business-icon.svg?gm0hqw#business-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dl {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'business-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.dl-analysis-1:before {
  content: "\e902";
}
.dl-award:before {
  content: "\e903";
}

.dl-dollar:before {
  content: "\e90d";
}

.dl-presentation:before {
  content: "\e91e";
}
.dl-profit:before {
  content: "\e91f";
}

.dl-startup:before {
  content: "\e925";
}

.dl-stats:before {
  content: "\e927";
}

.dl-success:before {
  content: "\e929";
}

.dl-team:before {
  content: "\e92b";
}

